services:
  cuttlefish:
    build:
      context: .
      args:
        CF_VERSION: "1.0.0"
    image: cuttlefish-arm64
    container_name: cuttlefish_device
    privileged: true          # Dibutuhkan untuk KVM & kernel modules
    devices:
      - /dev/kvm:/dev/kvm     # Akses KVM untuk akselerasi hardware
    volumes:
      - cuttlefish-data:/home/vsoc_user/cvd-home
    ports:
      - "6520:6520"           # ADB
      - "8443:8443"           # Web UI (WebRTC)
    restart: unless-stopped

volumes:
  cuttlefish-data: